.information {
    padding-top: 40px;
    height: 300vh;
    min-height: 100vh;
}

.information-container {
    width: 80%;
    margin: auto;
}
.subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(22, 19, 19);
    font-size: 20px;
}
.information-container h1 {
    margin: 2% auto;
    color: #fff;
    text-align: center;
    padding: 20px 2px;
    font-size: 35px;
    background: #500;
    width: 100%;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.information-container h3{
    font-size: 22px;
    font-weight: 600;
}

/* BANNER */

.banner h1 { font-size: 60px; }
.banner h3 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.banner h6 { font-size: 22px; }

.banner h1, .banner h3, .banner h6 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
}

.banner {
  color: white;
  background: url('../src/img/ume-teacher.jpg') center /cover no-repeat;
  height: 400px;
}